# cifar-10 data 
cifar10/data

# compiled python file
*.pyc

# Ipython Notebook check points
*.ipynb_checkpoints

# Temp Log File
/tmp/*
/logs/*

/*/tmp
/*logs

# TensorBoard Example Script
tb_example.py

# report pages file
*.pages

# MNIST dataset 
studybn/mldata*

# csv files
*.csv

# some pickled mnist datafiles
mnist/kfold_data/cnn_*c1f2_kfold
mnist/kfold_data/cnn_*c2f2_kfold
mnist/kfold_data/cnn_*c2f1_kfold
mnist/kfold_data/cnn_incept*f*_kfold
mnist/kfold_data/cnn_c1icp*f*_kfold
mnist/kfold_data/cnn_icp*f*_kfold
